# Observations

1) According to this dataset, males buy a lot more items than females and other non-binary gender classifications. This dataset is heavily skewed to males so it makes sense.

2) The primary age group for this game ranges from 20-24 years old. These individuals generally spend 3x more than any other age range. Once the totals are normalized though, the amount spent within the game is pretty even across groups. 

3) For this particular dataset, it is interesting to note that of the top five most popular items, only one item was also within the group of five most profitable items. This item was the Retribution Axe which was the most profitable item and fourth most popular item.

**Player Count**

* Total Number of Players

In [18]:
# Dependencies
import pandas as pd
import json

In [19]:
path_to_data_file = "purchase_data.json"
path_to_data_file

'purchase_data.json'

In [20]:
#purchase_data_pimoli = pd.read_json(path_to_data_file, orient='records')

purchase_data_pimoli = pd.read_json(path_to_data_file, orient="records")

In [21]:
# Check type 

type(purchase_data_pimoli)

pandas.core.frame.DataFrame

In [22]:
# Find out relevant information about the DataFrame
purchase_data_pimoli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 6 columns):
Age          780 non-null int64
Gender       780 non-null object
Item ID      780 non-null int64
Item Name    780 non-null object
Price        780 non-null float64
SN           780 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.6+ KB

In [23]:
# View the first 20 rows of the DataFrame

purchase_data_pimoli.head(20)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43

In [24]:
# Drop the duplicate SN(s) and return the total number of rows with only unique SN

total_players = purchase_data_pimoli['SN'].nunique()

#Store that number as a list

total_players_in_game = [total_players]

In [25]:
type(total_players)

int

In [26]:
# Create a new DataFrame with the stored list as the row and Total Players as the column

total_players_df = pd.DataFrame(total_players_in_game, columns = ['Total Players'])

In [27]:
type(total_players_in_game)

list

In [28]:
total_players_df

   Total Players
0            573

# Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [29]:
# View the first 20 rows of the original DataFrame

purchase_data_pimoli.head(20)

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43

In [30]:
# unique_items_pimoli = purchase_data_pimoli.drop_duplicates(['Item Name'])

# unique_items_pimoli.head(20)

In [31]:
# Drop the duplicate Item Names and return the total number of rows with only unique Item Names

number_of_unique_items_pimoli =purchase_data_pimoli['Item Name'].nunique()

number_of_unique_items_pimoli

179

In [33]:
# Returns the mean for each of the columns in the original DataFrame

purchase_data_pimoli.mean()

Age        22.729487
Item ID    91.293590
Price       2.931192
dtype: float64

In [34]:
# Store the average purchase price in a variable 

avg_purchase_price = round(purchase_data_pimoli["Price"].mean(),2)

str_avg_purchase_price = '$' + str(avg_purchase_price)

str_avg_purchase_price

'$2.93'

In [35]:
# Calculate the total number of purchases in a variable by doing a count of the number of rows in the column Item ID in the original 
# DataFrame

total_number_of_purchases = purchase_data_pimoli["Item ID"].count()

total_number_of_purchases

780

In [36]:
# Calculate the total revenue by summing up the price column of the original DataFrame(DF)

total_revenue = purchase_data_pimoli["Price"].sum()

str_total_revenue = '$' + str(total_revenue)  

str_total_revenue

'$2286.33'

In [37]:
# Create a list that contains the relevant purchasing analysis information and store it in a variable

purchasing_analysis_data = [number_of_unique_items_pimoli, avg_purchase_price, total_number_of_purchases, str_total_revenue]

purchasing_analysis_data

[179, 2.93, 780, '$2286.33']

In [38]:
# Create the new DataFrame which is a dictionary of lists 

purchasing_analysis_df = pd.DataFrame({'Number of Unique Items' : [number_of_unique_items_pimoli], 'Average Purchase Price' : [str_avg_purchase_price], 'Total Number of Purchases' : [total_number_of_purchases], 'Total Revenue' : [str_total_revenue]}, index = {0})

purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,$2.93,179,780,$2286.33

# Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [41]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification  

total_players_gender = purchase_data_pimoli["Gender"].count()
total_players_gender
male = purchase_data_pimoli["Gender"].value_counts()['Male']
male
female = purchase_data_pimoli["Gender"].value_counts()['Female']
female
othernd = purchase_data_pimoli["Gender"].value_counts()["Other / Non-Disclosed"]
othernd
non_gender_specific = total_players_gender - male - female
#non_gender_specific
#print(f" Total: {total_players_gender}\n Male: {male}\n Female: {female}\n non_specific: {non_gender_specific}")

In [43]:
#Verify that result

purchase_data_pimoli["Gender"].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [44]:
#Calculate the percentage of players who self-identify as male; female; or are of non-binary gender identification 

male_percent = round((male/total_players_gender),4) * 100
str_male_percent = str(male_percent) + '%'
female_percent = round((female/total_players_gender),4) * 100
str_female_percent = str(female_percent) + '%'
non_gender_specific_percent = round((non_gender_specific/total_players_gender) * 100,3)
str_non_gender_specific_percent = str(non_gender_specific_percent) + '%'
print(f" % Male: {male_percent}\n % Female: {female_percent}\n % non_specific: {non_gender_specific_percent}")

 % Male: 81.15
 % Female: 17.44
 % non_specific: 1.41

In [45]:
#Create the new DataFrame with the gender demographic information

gender_demographics_df = pd.DataFrame([[str_male_percent, male], [str_female_percent, female], [str_non_gender_specific_percent, non_gender_specific]], index = ["Male", "Female", str("Other / Nondisclosed")], columns = ['Percentage of Players', 'Total Count'])
gender_demographics_df

                     Percentage of Players  Total Count
Male                                81.15%          633
Female                              17.44%          136
Other / Nondisclosed                 1.41%           11

# Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [46]:
#Group the original DF by the gender column to get a DataFrameGroupBy object with all columns related to the gender categories

grouped_purchase_analysis_gender = purchase_data_pimoli.groupby(['Gender'])

print(grouped_purchase_analysis_gender)

grouped_purchase_analysis_gender.count().head(10)

<pandas.core.groupby.DataFrameGroupBy object at 0x00000278EB1C1278>

                       Age  Item ID  Item Name  Price   SN
Gender
Female                 136      136        136    136  136
Male                   633      633        633    633  633
Other / Non-Disclosed   11       11         11     11   11

In [47]:
# Get the size of the DataFrameGroupBy object and index it by each gender category to get its respective count

gender_purchase_count = grouped_purchase_analysis_gender.size()
gender_purchase_count_female = gender_purchase_count['Female']
gender_purchase_count_male = gender_purchase_count['Male']
gender_purchase_count_other = gender_purchase_count['Other / Non-Disclosed']

In [48]:
#Verify the above result for the gender category counts

gender_purchase_count

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
dtype: int64

In [49]:
#Verify result

gender_purchase_count_female

136

In [75]:
#Calculate the total revenue for each gender category

gender_price = grouped_purchase_analysis_gender['Price'].sum()

gender_price

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [76]:
# Store each of the gender category total revenues in variables 

gender_price_female = round(gender_price['Female'],2)
str_gender_price_female = '$' + str(gender_price_female)
gender_price_male = round(gender_price['Male'],2)
str_gender_price_male = '$' + str(gender_price_male)
gender_price_other = round(gender_price['Other / Non-Disclosed'],2)
str_gender_price_other = '$' + str(gender_price_other)

In [77]:
#Calculate the average price spent on items for each gender category

avg_gender_price = round(grouped_purchase_analysis_gender['Price'].mean(),2)

avg_gender_price

Gender
Female                   2.82
Male                     2.95
Other / Non-Disclosed    3.25
Name: Price, dtype: float64

In [78]:
# Store each of the gender category average price spent on items in variables 

avg_gender_price_female = round(avg_gender_price['Female'],2)
str_avg_gender_price_female = '$' + str(avg_gender_price_female) 
avg_gender_price_male = round(avg_gender_price['Male'],2)
str_avg_gender_price_male = '$' + str(avg_gender_price_male)
avg_gender_price_other = round(avg_gender_price['Other / Non-Disclosed'],2)
str_avg_gender_price_other = '$' + str(avg_gender_price_other)

In [79]:
# Calculate the normalized totals for each gender category

normalize_total_female = round(gender_price_female/gender_purchase_count_female,2)
str_normalize_total_female = '$' + str(normalize_total_female)
normalize_total_male =  round(gender_price_male/gender_purchase_count_male,2)
str_normalize_total_male = '$' + str(normalize_total_male)
normalize_total_other = round(gender_price_other/gender_purchase_count_other,2)
str_normalize_total_other = '$' + str(normalize_total_other)

In [80]:
# Create the new DF for the gender purchasing information

purchasing_analysis_gender = pd.DataFrame([["Female",gender_purchase_count_female, str_avg_gender_price_female, str_gender_price_female, str_normalize_total_female], ["Male",gender_purchase_count_male, str_avg_gender_price_male, str_gender_price_male, str_normalize_total_male], ["Other / Non-Disclosed",gender_purchase_count_other, str_avg_gender_price_other, str_gender_price_other, str_normalize_total_other]], \
                                          columns = ["Gender",'Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals'] )#index = ['Gender','Female', 'Male', 'Other / Non-Disclosed'], columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals'] )

purchasing_analysis_gender

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,Female,136,$2.82,$382.91,$2.82
1,Male,633,$2.95,$1867.68,$2.95
2,Other / Non-Disclosed,11,$3.25,$35.74,$3.25

# Age Demographics

The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Normalized Totals

In [166]:
# Group the original DF by the age column which creates a DataFrameGroupBy object

purchase_analysis_age_group = purchase_data_pimoli.groupby(['Age'])

purchase_analysis_age_group

In [167]:
# defined bins and bin names
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [168]:
# Create the bins for the age groups

purchase_data_pimoli["Age Ranges"] = pd.cut(purchase_data_pimoli["Age"], bins=age_bins, labels=group_names)

In [169]:
# Set the new DF to be the original DF grouped by the age ranges bins

purchase_data_pimoli_age_ranges_df = purchase_data_pimoli.groupby("Age Ranges")

In [170]:
# Displays the totals for the bins

purchase_data_pimoli_age_ranges_df.sum()

             Age  Item ID   Price
Age Ranges
<10          211     2305   83.46
10-14        426     3171   96.95
15-19       2212    12561  386.42
20-24       7350    28909  978.77
25-29       3275    11729  370.33
30-34       2023     6493  197.25
35-39       1542     4497  119.40
40+          690     1544   53.75

In [171]:
# Displays the means for the bins

purchase_data_pimoli_age_ranges_df.mean()

                  Age     Item ID     Price
Age Ranges
<10          7.535714   82.321429  2.980714
10-14       12.171429   90.600000  2.770000
15-19       16.631579   94.443609  2.905414
20-24       21.875000   86.038690  2.913006
25-29       26.200000   93.832000  2.962640
30-34       31.609375  101.453125  3.082031
35-39       36.714286  107.071429  2.842857
40+         40.588235   90.823529  3.161765

In [172]:
# Display the counts for each of the bins

purchase_data_pimoli_age_ranges_df.count()

            Age  Gender  Item ID  Item Name  Price   SN
Age Ranges
<10          28      28       28         28     28   28
10-14        35      35       35         35     35   35
15-19       133     133      133        133    133  133
20-24       336     336      336        336    336  336
25-29       125     125      125        125    125  125
30-34        64      64       64         64     64   64
35-39        42      42       42         42     42   42
40+          17      17       17         17     17   17

In [173]:
# Store the purchase counts for each bin 

age_purchase_count = purchase_data_pimoli_age_ranges_df.size()
age_purchase_count_bin_one = age_purchase_count['<10']
age_purchase_count_bin_two = age_purchase_count['10-14']
age_purchase_count_bin_three = age_purchase_count['15-19']
age_purchase_count_bin_four = age_purchase_count['20-24']
age_purchase_count_bin_five = age_purchase_count['25-29']
age_purchase_count_bin_six = age_purchase_count['30-34']
age_purchase_count_bin_seven = age_purchase_count['35-39']
age_purchase_count_bin_eight = age_purchase_count['40+']

In [174]:
str_age_purchase_count_bin_one

'$28'

In [175]:
# Store the average price for each bin 

age_purchase_avg_price = purchase_data_pimoli_age_ranges_df.mean()
age_purchase_avg_price_bin_one = round((age_purchase_avg_price['Price'][0]),2)
str_age_purchase_avg_price_bin_one = '$' + str(age_purchase_avg_price_bin_one)
age_purchase_avg_price_bin_two = round(age_purchase_avg_price['Price'][1],2)
str_age_purchase_avg_price_bin_two = '$' + str(age_purchase_avg_price_bin_two)
age_purchase_avg_price_bin_three = round(age_purchase_avg_price['Price'][2],2)
str_age_purchase_avg_price_bin_three = '$' + str(age_purchase_avg_price_bin_three)
age_purchase_avg_price_bin_four = round(age_purchase_avg_price['Price'][3],2)
str_age_purchase_avg_price_bin_four = '$' + str(age_purchase_avg_price_bin_four)
age_purchase_avg_price_bin_five = round(age_purchase_avg_price['Price'][4],2)
str_age_purchase_avg_price_bin_five = '$' + str(age_purchase_avg_price_bin_five)
age_purchase_avg_price_bin_six = round(age_purchase_avg_price['Price'][5],2)
str_age_purchase_avg_price_bin_six = '$' + str(age_purchase_avg_price_bin_six)
age_purchase_avg_price_bin_seven = round(age_purchase_avg_price['Price'][6],2)
str_age_purchase_avg_price_bin_seven = '$' + str(age_purchase_avg_price_bin_seven)
age_purchase_avg_price_bin_eight = round(age_purchase_avg_price['Price'][7],2)
str_age_purchase_avg_price_bin_eight = '$' + str(age_purchase_avg_price_bin_eight)

In [176]:
# Verify the result

str_age_purchase_avg_price_bin_one = '$' + str(age_purchase_avg_price_bin_one)
str_age_purchase_avg_price_bin_one

'$2.98'

In [177]:
# Store the total price for each bin

age_purchase_total_price = purchase_data_pimoli_age_ranges_df.sum()
age_purchase_total_purchase_value_bin_one = round(age_purchase_total_price['Price'][0],2)
str_age_purchase_total_purchase_value_bin_one = '$' + str(age_purchase_total_purchase_value_bin_one)
age_purchase_total_purchase_value_bin_two = round(age_purchase_total_price['Price'][1],2)
str_age_purchase_total_purchase_value_bin_two = '$' + str(age_purchase_total_purchase_value_bin_two)
age_purchase_total_purchase_value_bin_three = round(age_purchase_total_price['Price'][2],2)
str_age_purchase_total_purchase_value_bin_three= '$' + str(age_purchase_total_purchase_value_bin_three)
age_purchase_total_purchase_value_bin_four = round(age_purchase_total_price['Price'][3],2)
str_age_purchase_total_purchase_value_bin_four= '$' + str(age_purchase_total_purchase_value_bin_four)
age_purchase_total_purchase_value_bin_five = round(age_purchase_total_price['Price'][4],2)
str_age_purchase_total_purchase_value_bin_five = '$' + str(age_purchase_total_purchase_value_bin_five)
age_purchase_total_purchase_value_bin_six = round(age_purchase_total_price['Price'][5],2)
str_age_purchase_total_purchase_value_bin_six = '$' + str(age_purchase_total_purchase_value_bin_six)
age_purchase_total_purchase_value_bin_seven = round(age_purchase_total_price['Price'][6],2)
str_age_purchase_total_purchase_value_bin_seven = '$' + str(age_purchase_total_purchase_value_bin_seven)
age_purchase_total_purchase_value_bin_eight = round(age_purchase_total_price['Price'][7],2)
str_age_purchase_total_purchase_value_bin_eight = '$' + str(age_purchase_total_purchase_value_bin_eight)

In [178]:
age_purchase_total_purchase_value_bin_one

83.46

In [179]:
# Store the normalized total for each bin

age_normalized_total = age_purchase_total_price/age_purchase_count
age_normalized_total_bin_one = round(age_purchase_total_purchase_value_bin_one/age_purchase_count_bin_one,2)
str_age_normalized_total_bin_one = '$' + str(age_normalized_total_bin_one)
age_normalized_total_bin_two = round(age_purchase_total_purchase_value_bin_two/age_purchase_count_bin_two,2)
str_age_normalized_total_bin_two= '$' + str(age_normalized_total_bin_two)
age_normalized_total_bin_three = round(age_purchase_total_purchase_value_bin_three/age_purchase_count_bin_three,2)
str_age_normalized_total_bin_three = '$' + str(age_normalized_total_bin_three)
age_normalized_total_bin_four = round(age_purchase_total_purchase_value_bin_four/age_purchase_count_bin_four,2)
str_age_normalized_total_bin_four = '$' + str(age_normalized_total_bin_four)
age_normalized_total_bin_five = round(age_purchase_total_purchase_value_bin_five/age_purchase_count_bin_five,2)
str_age_normalized_total_bin_five = '$' + str(age_normalized_total_bin_five)
age_normalized_total_bin_six = round(age_purchase_total_purchase_value_bin_six/age_purchase_count_bin_six,2)
str_age_normalized_total_bin_six = '$' + str(age_normalized_total_bin_six)
age_normalized_total_bin_seven = round(age_purchase_total_purchase_value_bin_seven/age_purchase_count_bin_seven,2)
str_age_normalized_total_bin_seven = '$' + str(age_normalized_total_bin_seven)
age_normalized_total_bin_eight = round(age_purchase_total_purchase_value_bin_eight/age_purchase_count_bin_eight,2)
str_age_normalized_total_bin_eight = '$' + str(age_normalized_total_bin_eight)

In [180]:
# Verify results

age_normalized_total_bin_one

2.98

In [181]:
age_normalized_total_bin_two

2.77

In [184]:
# Create the new DF for the age demographics

age_demographics_df = pd.DataFrame([['<10', age_purchase_count_bin_one, str_age_purchase_avg_price_bin_one, str_age_purchase_total_purchase_value_bin_one, str_age_normalized_total_bin_one ], ['10-14', age_purchase_count_bin_two, str_age_purchase_avg_price_bin_two, str_age_purchase_total_purchase_value_bin_two, str_age_normalized_total_bin_two], ['15-19', age_purchase_count_bin_three, str_age_purchase_avg_price_bin_three, str_age_purchase_total_purchase_value_bin_three, str_age_normalized_total_bin_three], ['20-24', age_purchase_count_bin_four, str_age_purchase_avg_price_bin_four, str_age_purchase_total_purchase_value_bin_four, str_age_normalized_total_bin_four], ['25-29', age_purchase_count_bin_five, str_age_purchase_avg_price_bin_five, str_age_purchase_total_purchase_value_bin_five, str_age_normalized_total_bin_five], ['30-34', age_purchase_count_bin_six, str_age_purchase_avg_price_bin_six, str_age_purchase_total_purchase_value_bin_six, str_age_normalized_total_bin_six], ['35-39', age_purchase_count_bin_seven, str_age_purchase_avg_price_bin_seven, str_age_purchase_total_purchase_value_bin_seven, str_age_normalized_total_bin_seven], ['40+', age_purchase_count_bin_eight, str_age_purchase_avg_price_bin_eight, str_age_purchase_total_purchase_value_bin_eight, str_age_normalized_total_bin_eight]], columns = ['Age','Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Normalized Totals'])

age_demographics_df

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
0,<10,28,$2.98,$83.46,$2.98
1,10-14,35,$2.77,$96.95,$2.77
2,15-19,133,$2.91,$386.42,$2.91
3,20-24,336,$2.91,$978.77,$2.91
4,25-29,125,$2.96,$370.33,$2.96
5,30-34,64,$3.08,$197.25,$3.08
6,35-39,42,$2.84,$119.4,$2.84
7,40+,17,$3.16,$53.75,$3.16

# Top Spenders

 Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value

In [206]:
# View the first 20 rows of the original DF

purchase_data_pimoli.head(20)

,Age,Gender,Item ID,Item Name,Price,SN,Age Ranges
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20-24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,20-24
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20-24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40+
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20-24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20-24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20-24
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34

In [207]:
# Group the original DF by the SN to get a DataFrameGroupByObject

df_groupby_SN = purchase_data_pimoli.groupby(["SN"])

In [208]:
# Calculate the totals for each SN and display the result

groupby_SN_Price_series = df_groupby_SN["Price"].sum()

In [209]:
# View the first 10 rows of the new series

groupby_SN_Price_series.head(10)

SN
Adairialis76    2.46
Aduephos78      6.70
Aeduera68       5.80
Aela49          2.46
Aela59          1.27
Aelalis34       5.06
Aelin32         3.14
Aeliriam77      6.72
Aeliriarin93    2.04
Aeliru63        8.98
Name: Price, dtype: float64

In [210]:
type(df_groupby_SN)

pandas.core.groupby.DataFrameGroupBy

In [211]:
#Sort the values for the series from highest to lowest

sorted_groupby_SN_Price_series = groupby_SN_Price_series.sort_values(ascending=False)

In [212]:
# View the series

sorted_groupby_SN_Price_series.head()

SN
Undirrala66    17.06
Saedue76       13.56
Mindimnya67    12.74
Haellysu29     12.73
Eoda93         11.58
Name: Price, dtype: float64

In [213]:
# Verify result

sorted_groupby_SN_Price_series[0]

17.06

In [214]:
# Verify result

sorted_groupby_SN_Price_series.index[0]

'Undirrala66'

In [215]:
# Store SN for each of highest spenders

highest_spender = sorted_groupby_SN_Price_series.index[0]
second_highest_spender = sorted_groupby_SN_Price_series.index[1]
third_highest_spender = sorted_groupby_SN_Price_series.index[2]
fourth_highest_spender = sorted_groupby_SN_Price_series.index[3]
fifth_highest_spender = sorted_groupby_SN_Price_series.index[4]

In [216]:
# Store total purchase value for each of highest spenders

highest_spender_total_purchase_value = round(sorted_groupby_SN_Price_series[0],2)
str_highest_spender_total_purchase_value = '$' + str(highest_spender_total_purchase_value)
second_highest_spender_total_purchase_value = round(sorted_groupby_SN_Price_series[1],2)
str_second_highest_spender_total_purchase_value = '$' + str(second_highest_spender_total_purchase_value)
third_highest_spender_total_purchase_value = round(sorted_groupby_SN_Price_series[2],2)
str_third_highest_spender_total_purchase_value = '$' + str(third_highest_spender_total_purchase_value)
fourth_highest_spender_total_purchase_value =  round(sorted_groupby_SN_Price_series[3],2)
str_fourth_highest_spender_total_purchase_value = '$' + str(fourth_highest_spender_total_purchase_value)
fifth_highest_spender_total_purchase_value = round(sorted_groupby_SN_Price_series[4],2)
str_fifth_highest_spender_total_purchase_value = '$' + str(fifth_highest_spender_total_purchase_value)

In [217]:
# Calculate item count for each of highest spenders

groupby_SN_Item_Name_series = df_groupby_SN["Item Name"].count()

In [218]:
groupby_SN_Item_Name_series.head()

SN
Adairialis76    1
Aduephos78      3
Aeduera68       3
Aela49          1
Aela59          1
Name: Item Name, dtype: int64

In [219]:
groupby_SN_Item_Name_series[highest_spender]

5

In [220]:
# Store item count for each of highest spenders

highest_spender_item_count = groupby_SN_Item_Name_series[highest_spender]
second_highest_spender_item_count = groupby_SN_Item_Name_series[second_highest_spender]
third_highest_spender_item_count = groupby_SN_Item_Name_series[third_highest_spender]
fourth_highest_spender_item_count = groupby_SN_Item_Name_series[fourth_highest_spender]
fifth_highest_spender_item_count = groupby_SN_Item_Name_series[fifth_highest_spender]

In [221]:
# Calculate the average purchase prices for each of highest spenders

groupby_SN_Price_avg_series = df_groupby_SN["Price"].mean()

In [222]:
groupby_SN_Price_avg_series.head()

SN
Adairialis76    2.460000
Aduephos78      2.233333
Aeduera68       1.933333
Aela49          2.460000
Aela59          1.270000
Name: Price, dtype: float64

In [223]:
# Calculate average purchase price for highest spender

groupby_SN_Price_avg_series[highest_spender]

3.412

In [226]:
# Store average prices for each of highest spenders

highest_spender_avg_price = round(groupby_SN_Price_avg_series[highest_spender],2)
str_highest_spender_avg_price = '$' + str(highest_spender_avg_price)
second_highest_spender_avg_price = round(groupby_SN_Price_avg_series[second_highest_spender],2)
str_second_highest_spender_avg_price = '$' + str(second_highest_spender_avg_price)
third_highest_spender_avg_price = round(groupby_SN_Price_avg_series[third_highest_spender],2)
str_third_highest_spender_avg_price = '$' + str(third_highest_spender_avg_price)
fourth_highest_spender_avg_price = round(groupby_SN_Price_avg_series[fourth_highest_spender],2)
str_fourth_highest_spender_avg_price = '$' + str(fourth_highest_spender_avg_price)
fifth_highest_spender_avg_price = round(groupby_SN_Price_avg_series[fifth_highest_spender],2)
str_fifth_highest_spender_avg_price = '$' + str(fifth_highest_spender_avg_price)

In [228]:
# Create the new DF for the five highest spenders 

top_spender_df = pd.DataFrame([[highest_spender, highest_spender_item_count, str_highest_spender_avg_price, str_highest_spender_total_purchase_value], [second_highest_spender, second_highest_spender_item_count, str_second_highest_spender_avg_price, str_second_highest_spender_total_purchase_value], [third_highest_spender, third_highest_spender_item_count, str_third_highest_spender_avg_price, str_third_highest_spender_total_purchase_value], [fourth_highest_spender, fourth_highest_spender_item_count, str_fourth_highest_spender_avg_price, str_fourth_highest_spender_total_purchase_value], [fifth_highest_spender, fifth_highest_spender_item_count, str_fifth_highest_spender_avg_price, str_fifth_highest_spender_total_purchase_value]], columns = ['SN', 'Purchase Count', 'Average Purchase Price', 'Total Purchase Value'])

top_spender_df

            SN  Purchase Count Average Purchase Price Total Purchase Value
0  Undirrala66               5                  $3.41               $17.06
1     Saedue76               4                  $3.39               $13.56
2  Mindimnya67               4                  $3.18               $12.74
3   Haellysu29               3                  $4.24               $12.73
4       Eoda93               3                  $3.86               $11.58

# Most Popular Items

Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [229]:
# Store the original DF

df2 = purchase_data_pimoli

In [230]:
# Display the original DF first 5 rows

df2.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Ranges
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [231]:
# Index the original DF by the column Item ID to get a series with Item IDs and all their relevant information from the original 
# DF

purchase_data_item_id_series = purchase_data_pimoli["Item ID"]

In [232]:
# Use the .value_counts() method to get the counts for each of the Item IDs which creates a new series
items_purchased_count_series = purchase_data_item_id_series.value_counts()

In [233]:
# Display the first 5 rows of the series

items_purchased_count_series.head()

84     11
39     11
31      9
34      9
175     9
Name: Item ID, dtype: int64

In [236]:

# Create an empty list that will get each row of data for the dataframe appended to it in the for range loop below

list_of_rows = []

for i in range(0, 5, 1):
    
    # go through and get the topmost 5 items for our results
    
    item_id_sold = items_purchased_count_series.index[i]        # this is the id of the next most bought item
    
    # Build a boolean series for each row that has the same "Item ID" as the one we are looking for. This series
    # will be the same size as the dataframe df2, with each row containing a 'True' where the 'Item ID' was the 
    # same as the item number (item_id_sold) we are looking for
    
    boolean_series_with_item_id = df2["Item ID"] == item_id_sold
    
    # The next statement will select only rows from the dataframe df2, where the rows have a boolean value = 'True' in
    # the boolean_series_with_item_id series generated above
    
    df_with_only_item_id_wanted = df2.loc[boolean_series_with_item_id]
    
    # The dataframe generated (df_with_only_item_id_wanted) will only have rows with all the same "Item ID" and "Item Name", ...
    # Therefore, we just get the name, price from the 1st row of the dataframe. We could have gotten this information from any
    # row in the dataframe
    
    item_name_wanted = df_with_only_item_id_wanted.iloc[0]["Item Name"]
    item_wanted_price = df_with_only_item_id_wanted.iloc[0]["Price"]
    str_item_wanted_price = '$' + str(item_wanted_price)
    
    # Add all the prices, so we get the total spent for this item
    
    total_purchase_price_for_item = round(df_with_only_item_id_wanted["Price"].sum(), 2)
    str_total_purchase_price_for_item = '$' + str(total_purchase_price_for_item)
    
    # The value in this series is the number an item was bought
    
    count_of_item_sold = items_purchased_count_series.values[i]
    
    # Make a list containing all the data for the next row of the dataframe we are putting together
    
    next_row_to_add_to_df = [item_id_sold, item_name_wanted, count_of_item_sold, str_item_wanted_price, str_total_purchase_price_for_item]
    
    # append the list we just created above to the list that contains all the rows (inner lists) for the dataframe
    
    list_of_rows.append(next_row_to_add_to_df)

    
# this is outside the for range loop. The rows of data are created for the dataframe. 

# Create a list of the columns    

df6_columns = ['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purchase Price']

# Create the dataframe with the list of rows created in the for range loop and the column labels

df_most_popular_item = pd.DataFrame(list_of_rows, columns=df6_columns)

# Display the dataframe

df_most_popular_item

,Item ID,Item Name,Purchase Count,Price,Total Purchase Price
0,84,Arcane Gem,11,$2.23,$24.53
1,39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
2,31,Trickster,9,$2.07,$18.63
3,34,Retribution Axe,9,$4.14,$37.26
4,175,Woeful Adamantite Claymore,9,$1.24,$11.16

# Most Profitable Items

Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value

In [238]:
# Display the first 5 rows of the original DF

purchase_data_pimoli.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Ranges
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [239]:
# Group the original DF by the Item ID which creates a new DataFrameGroupBy object

df_groupby_Item_ID = purchase_data_pimoli.groupby(["Item ID"])

df_groupby_Item_ID

In [240]:
# Index the DF object by the Price column and calculate the sum for each Item ID. This creates a new series.

group_by_Item_ID_Price_series = df_groupby_Item_ID["Price"].sum()

group_by_Item_ID_Price_series.head()

Item ID
0    1.82
1    9.12
2    3.40
3    1.79
4    2.28
Name: Price, dtype: float64

In [241]:
# Sort the values of the series so that the values range from highest to lowest

sorted_group_by_Item_ID_Price_series = group_by_Item_ID_Price_series.sort_values(ascending=False)

sorted_group_by_Item_ID_Price_series.head()

Item ID
34     37.26
115    29.75
32     29.70
103    29.22
107    28.88
Name: Price, dtype: float64

In [244]:
# Create an empty list that will get each row of data for the dataframe appended to it in the for range loop below

list_of_rows = []

for i in range(0, 5, 1):
    
    # Go through and get the 5 items with the highest total purchase values for our results
    item_id_item_profit = sorted_group_by_Item_ID_Price_series.index[i]        # This is the id of the item with the next highest purchase value
    
    # Build a boolean series for each row that has the same "Item ID" as the one we are looking for. This series
    # will be the same size as the dataframe df2, with each row containing a 'True' where the 'Item ID' was the 
    # same as the item number (item_id_sold) we are looking for
    
    boolean_series_with_item_id = purchase_data_pimoli["Item ID"] == item_id_item_profit
    
    # The next statement will select only rows from the dataframe df2, where the rows have a boolean value = 'True' in
    # the boolean_series_with_item_id series generated above
    
    df_with_only_item_id_wanted = purchase_data_pimoli.loc[boolean_series_with_item_id]
    
    # The dataframe generated (df_with_only_item_id_wanted) will only have rows with all the same "Item ID" and "Item Name", ...
    # Therefore, we just get the name, price from the 1st row of the dataframe. We could have gotten this information from any
    # row in the dataframe
    
    item_name_wanted = df_with_only_item_id_wanted.iloc[0]["Item Name"]
    item_wanted_price = df_with_only_item_id_wanted.iloc[0]["Price"]
    str_item_wanted_price = '$' + str(item_wanted_price)
    item_wanted_count = df_with_only_item_id_wanted["Item Name"].count()
    
    # The value in this series is the total purchase value of an item
    
    total_purchase_price_for_item = round(sorted_group_by_Item_ID_Price_series.values[i],3)
    str_total_purchase_price_for_item = '$' + str(total_purchase_price_for_item)
    
    # Make a list containing all the data for the next row of the dataframe we are putting together
    
    next_row_to_add_to_df = [item_id_item_profit, item_name_wanted, item_wanted_count, str_item_wanted_price, str_total_purchase_price_for_item]
    
    # Append the list we just created above to the list that contains all the rows (inner lists) for the dataframe
    
    list_of_rows.append(next_row_to_add_to_df)

    
# This is outside the for range loop. The rows of data are created for the dataframe. 

# Create a list of the columns    

df2columns = ['Item ID', 'Item Name', 'Purchase Count', 'Price', 'Total Purchase Price']

# Create the dataframe with the list of rows created in the for range loop and the column labels

df_most_profitable_item = pd.DataFrame(list_of_rows, columns = df2columns)

# Display the dataframe

df_most_profitable_item

,Item ID,Item Name,Purchase Count,Price,Total Purchase Price
0,34,Retribution Axe,9,$4.14,$37.26
1,115,Spectral Diamond Doomblade,7,$4.25,$29.75
2,32,Orenmir,6,$4.95,$29.7
3,103,Singed Scalpel,6,$4.87,$29.22
4,107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88